@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apple-y system look */
body {
  @apply bg-neutral-950 text-white antialiased;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Text",
    "Inter",
    system-ui,
    Roboto,
    "Helvetica Neue",
    sans-serif;
}


/* Optional subtle smoothing for light-on-dark text */
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

